body {
    background-color: #fff7af;
    /*margin: 0 20px;*/
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}

.selectwidthauto
{
     width:20px !important;
}

.header {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 60px;
    /*background-color: #7494ed;*/
    margin-bottom: 20px;
}

.templateDiv {
    margin-top: 10px;
}
.btnSubmit {
    margin-top: 10px;
}

img#btnDownloadTemplate {
    margin-top: 10px;
    width: 100px;
    height: 87px;
    background-color: #fff7af;
}

span#btnDownloadTemplate {
    margin-top: 10px;
    background-color: #fff7af;
    color: blue;
    text-decoration: underline;
}

div#retDiv {
    margin-bottom: 30px;
}

#btnDownloadTemplate:hover{
    cursor: pointer;
}

div.scopeAfter {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.propertyDiv {
    margin: 10px 0;
}

.addPropertyButton:hover {
    cursor: pointer;
}

div.property-group-0, div.property-group-1, div.property-group-2 {
    margin-bottom: 5px;
}

div.property-group-0.last, div.property-group-1.last {
    margin-bottom: 20px;
}

/*div.scope {
    display: block;
    float: none;
}

div#divAfterScpoe {
    display: block;
    float: none;
}*/

.bkred {
    background-color: red;
}
.bkblue {
    background-color: blue;
}
.bkyellow {
    background-color: yellow;
}
